<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sadri_office_logs_listing_data_source" xsi:type="string">Sadri\Office\Model\ResourceModel\Logs\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Sadri\Office\Model\ResourceModel\Logs\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">logs</argument>
            <argument name="resourceModel" xsi:type="string">Sadri\Office\Model\ResourceModel\Logs\Collection</argument>
        </arguments>
    </virtualType>
</config>